// Navbar

$navbar-height: 38px;
$navbar-bg: #fff;

.site-title {
   width: $sidebar-width;
}

// Sidebar

$sidebar-box-shadow: 0px 2px 22px 0 rgba(0, 0, 0, 0.2),
   0px 2px 30px 0 rgba(0, 0, 0, 0.35);
.sidebar {
   box-shadow: $sidebar-box-shadow;
}

// Footer

$footer-height: 50px !default;
$footer-bg: transparent;
$footer-color: $body-color !default;
$footer-borders: (
   top: (
      size: 1px,
      style: solid,
      color: $border-color
   )
) !default;

// Form
.form-group label {
   color: $gray-500;
}
